@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

* {
    background-color: rgb(247, 240, 232);
    font-family: 'Fredoka', sans-serif;;
    }

#menu ul {
    text-align: center;
}

#menu ul li {
    display: inline-block;
    font-size: 20px;
    color: rgb(35, 34, 36);
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#menu ul li a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(35, 34, 36);
}

#menu ul li a:hover {
    color: rgb(99, 99, 99);
    cursor: pointer;
}

.centralizar {
    text-align: center;
}

.container {
    display:flex;
    justify-content:center;
    align-items:center;

}


#rodape {
    color: black;
    font-size: 12px;
}

/*
Estilos da página Index
*/

#titulo {
    color: black;
    font-size: 50px;
    padding: 10px;
    margin: 5px;
}

/*
Estilos da página Contato
*/

#assunto {
    resize: none;
}

/*.textosobre {
    text-align: left;
    font-size: 20px;
    padding-left: 20%;
    padding-right: 20%;
}*/

/*
Estilos da página Contato
*/